* {
  background-color: #090e5ca8;
  text-align: center;
  color: #e4d8d8;
}
.d1{
  font-size: 20px;
}
.d2{
  background-color: #e4d8d8;
  color: black;
  margin: 20px;
  text-align: left;
}
.d3{
  margin: 20px;
}
.ebox{
  color: rgba(236, 11, 11, 0.897);
  font-size: 20px;
  margin: 10px;
}

