.person-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 300%;
    color: #dc143c !important;
}

.person-info {
    text-align: center;
    margin-bottom: 20px;
}

.person-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
}

.person-actions button,.person-actions a {
    margin: 0 5px;
    min-width: 100px;
}

.btn-back {
    background-color: #0d498a !important;
    color: rgb(252, 246, 246) !important;
}

@media (max-width: 480px) {
    .person-actions {
        flex-direction: column;
    }

    .person-actions button,.person-actions a {
        margin: 5px 0;
        width: 100%;
    }
}